body{
  background: #000000;
  color: #ffffff;
  font-family: 'Arial';
}

label{
  width: 5%;
  display: inline-block;
  text-align: right;
}

input{
  background: #2c2a2a;
  color: #ffffff;
  font-size: 120%;
  border: none;
}

.Message{
  color: #000000;
}

#Main{
  background: #000000;
  border-radius: 1%;
  padding-left: 1%;
}

#Title{
  font-size: 300%;
  
}

footer {
	width: 100%;
	height: 100%;
}

.fttext {
	color: #fff;
	font-size: 1.2rem;
	line-height: 40px;
	text-align: center;
}

.fttext a{
	color: rgb(160, 157, 251);
	font-size: 1rem;
	letter-spacing: 1px;
    text-decoration: none;
}

.fttext a:hover{
	color: rgb(9, 85, 9);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.upload {
    display: inline-block;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 25px;
    margin: 14px;
}

h1 {
    font-size: 1em;
    color: #6f48ad;
    margin-bottom: 20px;
}

form {
    position: relative;
    display: block;

    margin-bottom: 10px;
}

#formFiles input {
    position: relative;
    border: thin solid #ddd;
    padding: 12px;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 10px;
}

#formFiles button {
    position: relative;
    cursor: pointer;
    padding: 14px;
    display: inline-block;
    background-color: #7233e8;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 3px;
}

#formFiles button:hover {
    background-color: #5b12e6;
}

#progressBar {
    position: relative;
    display: none;
    background: linear-gradient(135deg, rgb(34, 130, 227) 0%, rgb(9, 226, 51) 100%);
    height: 16px;
    width: 0;
    line-height: 16px;
    color: #fff;
    font-size: 0.75em;
    overflow: hidden;
}

#return {
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 5px;
}

#projects{
	margin-top:100px;
    height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	text-align:center;
	color: #1db10a;
}
#projects h3{
    padding-top: 70px;
}
#projects p{
	font-family: var(--main-font-family);
	font-size:1.2rem;
	padding: 10px;
}

.work{
	display: flex; 
	flex: 1;
    flex-wrap: wrap;
    justify-content:center;
	align-items: center;
	padding: 20px;
}

.card{
	display: flex;
	flex-direction: column;
	margin: 20px;
	width: 200px;
	height:250px;
	border-radius:12px;
  background: #2c2a2a;
}

.card img{
	width: 100%;
	height:70%;
	border-radius:10px 10px 0px 0px;
}

.card:hover{
	box-shadow: 0 0 1.5rem rgb(100, 10, 122);
}